* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.social-profile-card {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  padding: 1.5em 2.2em;
  text-align: center;
  border-radius: 8px;
  width: 330px;
  margin: 10.7em auto 0 auto;
}

.avatar-img {
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}

.name {
  margin: 1.125em 0 0;
  font-size: 1.125rem;
}

.location {
  color: hsl(75, 94%, 57%);
  margin: .5em 0 1.78em 0;
}

.about {
  margin-bottom: 1.5em;
}

.social-medias {
  list-style-type: none;
  padding: 0;
}

.social-media {
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 1.2em;
  padding: 0.87em 1.75em;
  border-radius: 6px;
}

.social-media-link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.social-media:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}

.social-media:hover .social-media-link {
  color: hsl(0, 0%, 8%);
  font-weight: bold;
}

.footer {
  margin: auto 0 1.5em 0;
}

.attribution {
  text-align: center; 
  color: hsl(0, 0%, 100%);
  margin-top: 2em;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}